xmlXsdExample2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="workout" type="workoutType"/>
  <xs:complexType name="mondayType">
    <xs:sequence>
      <xs:element type="xs:string" name="chest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wednesdayType">
    <xs:sequence>
      <xs:element type="xs:string" name="back"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fridayType">
    <xs:sequence>
      <xs:element type="xs:string" name="legs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="workoutType">
    <xs:sequence>
      <xs:element type="mondayType" name="monday"/>
      <xs:element type="wednesdayType" name="wednesday"/>
      <xs:element type="fridayType" name="friday"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>