xmlXsdExample3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="login" type="loginType"/>
  <xs:complexType name="loginType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="username"/>
      <xs:element type="xs:string" name="password"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>